nav li {
    display: inline-block;
    list-style: none;
    padding-left: 6px;
    padding-right: 6px;
}
.box {
    color: #ffffff;
    display: block;
    padding: 8px 8px 8px 8px;
    text-align: center;
}
nav li a:link {
    color: #FFFFFF;
    text-decoration: none;
}
nav li a:hover {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0.04em 0.04em #aaa
}
nav li a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
nav li a:active {
    color: #FFFFFF;
    text-decoration: none;
}
