* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
}
body {
    background-color: rgb(170, 170, 170);
    background-image: url('oval.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
}
h1 {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}
div.main h1 {
    font-size: 16px;
    font-weight: bold;
    color: #111;
}
h2 {
    font-size: 15px;
    font-weight: bold;
    color: #111;
}
h2.date {
    font-size: 14px;
    color: #333;
}
/* Font for lyrics */
p.lyric{
	font-size: 11px;
	color: #282828;
	font-weight: initial;
}
article ul {
    font-size: 13px;
    margin-left: 30px;
}
p {
    font-size: 13px;
    color: #222;
}
.bold{
    font-weight: bold;
}
blockquote {
    margin: 1.5em 30px;
    font-size: 13px;
}
table {
    border-collapse: collapse;
}
th {
    font-weight: bold;
}
table, th, td {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    width: 100%;
    font-size: 11px;
}
/* Navigation Style-*/

nav {
    background-color: black;
    box-shadow: 0px 4px 4px rgba(10, 10, 10, .8);
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 45px;
}
#nav-container {
    width: 960px;
    margin: auto;
    /*centers the content*/
    
    text-align: center;
}
.nav-links {
    padding: 5px;
}
/* main container for site (article and aside) */

#container {
    margin: 60px auto 5px auto;
    /* auto centers the website*/
    
    width: 960px;
    text-align: left;
    position: relative;
    min-height: 100%;
}
.shadow {
    /* shadow effect for divs */
    
    box-shadow: 0px 4px 4px rgba(10, 10, 10, .8);
    box-shadow: 0px 4px 8px #000;
    margin-bottom: 10px;
    /* to separate blocks of content */
}
img.about {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
/* Article Style */

article {
    width: 650px;
    float: left;
}
article.wide {
    width: 960px;
    float: left;
}
.title {
    background-color: rgb(120, 10, 10);
    padding: 5px 12px 5px 12px;
}
.main {
    background-color: rgba(250, 250, 250, 0.8);
    padding: 10px 20px 10px 20px;
}
/* Aside Style */

aside {
    float: left;
    margin-left: 10px;
    width: 300px;
}
.side-main {
    background-color: rgba(255, 235, 190, 0.8);
    padding: 10px 20px 10px 20px;
}
/* footer style */

footer {
    margin-top: 5px;
    background-color: #333;
    float: left;
    height: 170px;
    width: 100%;
}
#ft-Container {
    width: 960px;
    margin: 20px auto;
    /* auto centers the content */
    
    text-align: left;
}
#ft-left {
    padding: 5px 25px;
    float: left;
}
#ft-center {
    padding: 5px 25px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
}
#ft-right {
    padding: 5px 25px;
    width: 300px;
    float: left;
}
#copy {
    /* copyright style for footer */
    
    padding-top: 20px;
    text-align: center;
    float: left;
    width: 960px;
}

footer p {
    color: #aaa;
}
/* link sytles */

a:link {
    color: #006a76;
    text-decoration: none;
}
a:visited {
    color: #006a76;
    text-decoration: none;
}
a:hover {
    color: #00919E;
    text-decoration: none;
    text-shadow: 0.04em 0.04em #333
}
a:active {
    color: #FAAF00;
    text-decoration: none;
}

/* Table for family htms */
table.image{
	border-collapse: collapse;
	border: 0px solid #D8D8D8;
}
table.image td,table.image th{
	border: 0px solid #D8D8D8;
}
